@use 'colors';

.text {

    padding-top: 16px;

    h1 {
        font-size: 22px;
        font-weight: 700;
        color: colors.$dark-navy;
    }
    
    p {
        font-size: 15px;
        font-weight: 400;
        color: colors.$grey;
        padding: 16px;
    }
}