@use 'reset';
@use 'colors';
@use 'card';
@use 'typography';

$font: 'Outfit', sans-serif;

body {
    width: 100vw;
    height: 100vh;
    background-color: colors.$light-grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $font;
    font-optical-sizing: auto;
    text-align: center;
  }